{% import 'macros/form.html' as form %}

{% set data_module_source = h.semantictags_data_module_source() %}
{% set data_module_createtags = h.semantictags_enable_freetags() %}

{% set tag_attrs = {'data-module': 'autocomplete', 'data-module-source': data_module_source, 'data-module-createtags': data_module_createtags, 'data-module-tags': ''} %}
{{ form.input('tag_string', id='field-tags', label=_(field.label), placeholder=_(field.form_placeholder), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}
