{% extends "admin/base.html" %}
{% import 'macros/form.html' as form %}
{% block primary_content_inner %}
    <div>
        <form method="POST" action="{{ h.url_for('semantictags.admin') }}">
            {{ form.input('ckanext.semantictags.ontologies', label=_('Ontologies'), value=ontologies, placeholder=_('e.g., oeo'), is_required=true) }}
            <input type="hidden" name="action" value="ontologies">
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" title="{% trans %}Update{% endtrans %}">{% trans %}Update{% endtrans %}</button>
            </div>
        </form>
    </div>
    <hr>
    <div>
        <form method="POST" action="{{ h.url_for('semantictags.admin') }}">
            {{ form.select('ckanext.semantictags.allow_free_tags', label=_('Allow Free Tags'), options=[{'value': 'true', 'text': _('Yes')}, {'value': 'false',  'text': _('No')}], selected=free_tags, classes=['control-medium'], is_required=true) }}
            <input type="hidden" name="action" value="free_tags">
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" title="{% trans %}Update{% endtrans %}">{% trans %}Update{% endtrans %}</button>
            </div>
        </form>
    </div>
    <hr>
    <div>
        <form method="POST" action="{{ h.url_for('semantictags.admin') }}">
            {{ form.select('ckanext.semantictags.force_reload', label=_('Force Tag Reload'), options=[{'value': 'true', 'text': _('Yes')}, {'value': 'false',  'text': _('No')}], selected=force_reload, classes=['control-medium'], is_required=true) }}
            <input type="hidden" name="action" value="force_reload">
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" title="{% trans %}Update{% endtrans %}">{% trans %}Update{% endtrans %}</button>
            </div>
        </form>
    </div>
    <hr>
    <div>
        <form method="POST" action="{{ h.url_for('semantictags.admin') }}">
            {{ form.input('ckanext.semantictags.updatefrequency', label=_('Auto-update Frequency (minutes)'), value=freq, placeholder=_('e.g., 60'), type='number') }}
            <input type="hidden" name="action" value="freq">
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" title="{% trans %}Update{% endtrans %}">{% trans %}Update{% endtrans %}</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block secondary_content %}
    <div class="module module-narrow module-shallow">
        <h2 class="module-heading">
            <i class="fa fa-info-circle"></i>
            SemanticTags
        </h2>
        <div class="module-content">
            <p>{% trans %}Configuration options to manage semantic tags.{% endtrans %}</p>
            <p><strong>{% trans %}Ontologies{% endtrans %}:</strong> {% trans %}The short names (seperated by spaces) of the ontologies in the <a href="https://terminology.tib.eu/ts/" target="_blank">TIB Terminology Service</a> that are used for annotating datasets.{% endtrans %}</p>
            <p><strong>{% trans %}Allow Free Tags{% endtrans %}:</strong> {% trans %}Whether to allow users to add their own tags that do not belong to the configured ontologies.{% endtrans %}</p>
            <p><strong>{% trans %}Force Tag Reload{% endtrans %}:</strong> {% trans %}Whether to reload all tags on startup even if the ontology / ontologies are already loaded.{% endtrans %}</p>
            <p><strong>{% trans %}Auto-update Frequency{% endtrans %}:</strong> {% trans %}How often (in minutes) the system checks the TIB Terminology Service for updated ontology versions and reloads them automatically.{% endtrans %}</p>
        </div>
    </div>
{% endblock %}
